
@font-face {
  font-family: 'Avenir';
  src: url("Avenir.ttc"); 
}



.menu-item, .menu-open-button {
  background: white;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: #e4ae38;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  left: 50%;
  margin-left: -190px;
  padding-top: 20px;
  padding-left: 190px;
  width: 380px;
  height: 250px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover {
}
.menu-item:nth-child(3) {
  transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  transition-duration: 180ms;
}
.menu-item:nth-child(7) {
  transition-duration: 180ms;
}
.menu-item:nth-child(8) {
  transition-duration: 180ms;
}
.menu-item:nth-child(9) {
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open + .menu-open-button h1 {
  background:rgba(255,255,255,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  transition-timing-function: linear;
  transition-duration: 200ms;
}

.menu-open:checked + .menu-open-button {
  background:transparent;
}
.menu-open:checked + .menu-open-button h1{
  transform: scale(3) translate3d(0, 0, 0);
  border:none;
  display: block;
  position: fixed;
  height: 65px;
  width: 80px;
  border-radius: 100px;
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition: 180ms all ease-out;
  margin-left:215px;
  margin-top: 35px;
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 280ms all ease-out;
  margin-left: 190px; 
  margin-top: 135px;
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 380ms all ease-out;
  margin-left:110px;
  margin-top: 205px;
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: all ease-out 480ms;
  margin-left :5px;
  margin-top: 230px;
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 580ms;
  -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
          transform: translate3d(-90.86291px, 52.62064px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
  transition-duration: 680ms;
  -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
          transform: translate3d(-91.03006px, -52.33095px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(9) {
  transition-duration: 780ms;
  -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
          transform: translate3d(-0.25084px, -104.9997px, 0);
}

#brand{
  background-image: url(../images/MOCO_Logo_White_Full.png);
  height: 400px;
  width: 600px;
  max-width: 80vw;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: calc(90% - 300px);
  position: fixed;
  background-position: bottom right;
  right: 30px;
  transition: .5s;
}

#mapsB{
  background-image: url(../images/maps.png)
}
#contactB{
  background-image: url(../images/contact.png)
}
#programB{
  background-image: url(../images/program.png)
}
#speakerB{
  background-image: url(../images/speakers.png)
}

.menu-item
{
  background-position: 50%;
  background-size: 80px;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0px;
  height: 100px;
  width: 100px;
}

.menu-open-button .hamburger{
  bottom: 35px;
  right: 20px;
  left: auto;
  top: auto;
  background: gray;
}

  
nav.menu{
   left: 0;
   top: -50px;
}

body{
  font-family: "Avenir", sans-serif;
}

body.menuVisible #brand{
  bottom: 20px;
}

body.menuVisible
{
  background-position:50%;
  overflow:hidden;
}

.mouseSupport .menu-item:hover,
.touchSupport .menu-item:active{
  background-color: transparent;
  transform: scale(1.2);
}

#theHeader.open {
  top: 0px;
}

#theHeader {
  background: white;
  position: fixed;
  width: 100%;
  border-bottom-left-radius: 50%;
  overflow: hidden;
  border-bottom-right-radius: 50%;
  padding-left: 25%;
  padding-right: 25%;
  left: -25%;
  top: -185px;
  box-shadow: 0px 0px 2px;
  transition: .4s;
  padding-top: 20px;
}

#theHeader #theLogo,
#theLogo:focus{
  border: none;
  box-shadow: none;
  display: block;
  background-image: url(../images/MOCOSmall.png);
  height: 100px;
  background-size: 120px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  margin-top: 15px;
}

#theHeader .menuOption{
  font-family: "Avenir", sans-serif;
  background: none;
  border: none;
  box-shadow: none;
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}
